name: Despliegue Automático Grupo 7

# Se activa cuando haces push a la rama 'main' (o 'master')
on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Obtener el código
      uses: actions/checkout@v3

    - name: Desplegar en Servidor Contabo via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SERVER_IP }}     # Tu IP: 161.97.140.245
        username: ${{ secrets.SERVER_USER }} # Tu usuario: 1723376602
        password: ${{ secrets.SERVER_PASSWORD }} # La contraseña que usas manual
        port: 1987                         # <--- ¡IMPORTANTE! Tu puerto especial
        script: |
          # 1. Ir a la carpeta del proyecto
          cd grupo7-traefik

          # 2. Descargar los últimos cambios
          git pull origin main

          # 3. Reconstruir
          docker-compose up -d --build